<figure>
    <a href="/index.html"><img src="/media/logo.png" id="logo" alt="Logo del sitio"></a>
</figure>
<nav class="menu">
    <ul>
        <li><a href="/index.html">Inicio</a></li>
        <li class="menuItem">
            <a href="/juegos.html">Canvas</a>
            <ul class="submenu">
                <li><a href="/juegos/tanque.html">Tanque.plex</a></li>
                <li><a href="/juegos/billar.html">Billar</a></li>
                <li><a href="/juegos/pong.html">Pong</a></li>
                <li><a href="/juegos/bichos.html">Bug Busters</a></li>
                <li><a href="/juegos/faro.html">Faro</a></li>
                <li><a href="/juegos/bolas.html">Bolas Tangentes</a></li>
                <li><a href="/juegos/stickman.html">Stickman</a></li>
                <li><a href="/juegos/colores.html">Colores</a></li>
            </ul>
        </li>
        <li><a href="/css.html">CSS</a></li>
        <li><a href="/media.html">Media</a></li>
        <li><a href="/formulario.html">Registro</a></li>
        <!-- <li><a href="">Ejercicio 1</a></li>
        <li><a href="">Ejercicio 2</a></li>
        <li><a href="">Ejercicio 3</a></li> -->
    </ul>
</nav>

